# =========================
# Node modules (all levels)
# =========================
node_modules/
**/node_modules/

# =========================
# Environment files (all levels)
# =========================
.env
.env.*
**/.env
**/.env.*
**/.env/

# =========================
# Logs
# =========================
logs/
*.log
**/*.log

# =========================
# Build folders
# =========================
dist/
build/
**/dist/
**/build/